{% extends 'base.html' %}

{% block 'title' %}Entrar{% endblock %}

{% block 'head' %}
<style>
    tbody {
        display: inline-block;
        height: 350px;
        overflow-y: scroll;
    }

    thead,
    tbody tr {
        display: table;
        width: 400px;
        table-layout: fixed;
    }


    table {
        display: inline-block;
    }
</style>
{% endblock %}

{% block 'body' %}
<div class="container">

    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert {{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <h1 class="text-center">Entre em uma sala</h1>
    <hr>
    <div class="text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 300px;">Nome</th>
                    <th scope="col" class="text-center">Entrar</th>
                </tr>
            </thead>
            <tbody>
                {% if not rooms %}
                <tr>
                    <td style="width: 300px;">Nenhuma sala encontrada</td>
                    <td class="text-center"><a href="{% url 'criar' %}">Criar</a></td>
                </tr>
                {% endif %}

                {% for room in rooms %}
                <tr>
                    <td style="width: 300px;">{{ room.code }}</td>
                    <td class="text-center"><a href="{% url 'room' room.code %}">Entrar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>
{% endblock %}